{% extends "main.html" %}
{% block content %}
<h1>Yummyyy Treats!!!</h1>

{% if user.is_authenticated %}
    <p>
        <a href="{% url 'recipes:recipe_create' %}" class="btn btn-outline-dark" style="margin:1.5%">Add Recipe</a>
    </p>
{% endif %}


<div class="top-bar" style="display: flex; justify-content: space-between; align-items: center; margin-bottom: 3rem;">

  <form method="GET" action="{% url 'recipes:all' %}" class="search-form" style="flex: 1;">
    <div class="search-container" style="display: flex;">
      <input class="search_input" type="text" name="q" placeholder="Search recipe..." value="{{ query }}" style="flex: 1; padding: 6px;">
      <button type="submit" class="search_button" style="margin-left: 5px;">Search</button>
    </div>
  </form>

  <!-- Right: Dropdown -->
  <div class="dropdown" style="margin-left: 1rem;">
    <button class="dropdown_button dropdown-toggle" type="button" data-bs-toggle="dropdown" aria-expanded="false">
      Browse by collection
    </button>
    <ul class="dropdown-menu dropdown-menu-end">
      {% for tag_item in tags %}
        <li>
          <a class="dropdown-item" href="?tag={{ tag_item.slug }}{% if query %}&q={{ query }}{% endif %}">
            {{ tag_item.name }}
          </a>
        </li>
      {% endfor %}
    </ul>
  </div>
</div>

<p>
{% if rec_list %}
<div class="container" style="margin-top:3%;">
  <div class="row row-cols-1 row-cols-sm-2 row-cols-md-3 row-cols-lg-4 g-4">
    {% for rec in rec_list %}
    <div class="col">
      <div class="card">
        <img src="{% url 'recipes:recipe_picture' rec.id %}" class="card-img-top" alt="...">
        <div class="card-body">
          <h5 class="card-title">{{ rec.title }}</h5>
          <a href="{% url 'recipes:recipe_detail' rec.id %}" class="btn btn-outline-secondary">Let's cook</a>
        </div>
      </div>
    </div>
    {% endfor %}
  </div>
</div>

{% else %}
  <p>Sorry.... No recipes yet!!.</p>
{% endif %}
</p>

{% endblock %}





